html {
    height: 100%;
}
body {
    width: 100%;
    background-color: salmon;
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    position: fixed;
}
nav > p {
    color: salmon;
    align-content: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
}
div > form {
    border: 3px solid white; 
    width: 380px;
    position: relative;
    text-align: center; 
    margin-left: 5vh;
    height: 300px;
    border-radius: 5px;
}
form > input {
    margin: auto;
    display: block;
    margin-top: 1vh;
}
label {
    position: relative;
    top: 3vh;
    right: 17vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
footer {
    width: 100%;
    height: 50px;
    background-color: black;
    position: absolute;
    bottom: -4  0;
    color: salmon;
    text-align: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    border: 0;
    border-radius: 4px;
}
input::placeholder {
    text-align: center;
    color: salmon;
}  
ul {
    list-style: none;
}
li {
    margin: 6px;
}
section > p {
    background-color: white;
    color: salmon;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100px;
    height: 25px;
    text-align: center;
    margin: auto;
}
#output {
    border: 3px solid white;
    width: 70vh;
    height: 55vh;
    position: relative;
    left: 60vh;
    bottom: 30vh;
    border-radius: 8px;
    justify-content: center;
}
#img  {
    width: 70px;
    height: 60px;
}
.list {
    background-color: rgb(221, 220, 220);
    display: flex;
    padding: 5px;
    border: 1px solid white;
    border-radius: 3px;
    height: 25px;
    justify-content: center;
    width: 400px;
}
#out {
    margin-left: 10%;
    margin-right: 10%;
}
#section_form {
    position: relative;
    top: 9vh;
}